# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Add Markdown Cells with headings
* Add comments to Code Cells
* Write Arithmetic expressions in Code cells
* Create Order Lists and unordered lists in Markdown cells

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. SQL
    4. Scala
    5. Julia
    6. Java

Some of the commonly used libraries used by Data Scientists include:

    1. Pandas
    2. NumPy
    3. Matplotlib
    4. Tensorflow
    5. Scikit-learn
    6. Pytorch

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks  |
| RStudio  |
| Anaconda |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This is a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Satya Peddireddy